<!DOCTYPE html>
<html>
  <head>
<form>
  <input type="search" name="title">
</form>
    <meta charset="utf-8">
    <title>MovieFinder</title>
  </head>
  <body>
    <h1>MovieFinder Search Results</h1>

    <h2><%= movie.title %></h2>
    <p><%= movie.plot %></p>
  </body>
</html>